body{
    background-image: url("../images/asteroids.jpg");
    background-repeat: repeat;
    background-position: absolute;
    margin: 0 auto;
}

#game-container{
    background-image: url("../images/wild-sea.png");
    background-repeat: repeat;
    padding-bottom: 10px;


}

#win-div{
    display:none;
}

#lose-div{
    display:none;
}

#site-header{
    text-align: center;
    font-family: 'Fugaz One', cursive;
    color: #bf1925;
    padding: 10px;
}



.charClass{
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-weight: bolder;
    color: #bf1925;
}

#player{
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-weight: bolder;
    color: #0e6360;
}

#player-div{
    display: none;

}

#choose-op-cont{
    display: none;
}

#defeat-div{
    display: none;
    opacity: 60%;
}

#div-header{
 text-align: center;
 font-family: 'Fugaz One', cursive;
 color: #0e6360;
}

#attack-div{
    display: none;
}